{% extends 'layouts/main.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h3>Create a task</h3>
        {% set user = user() %}
        <form name="sentMessage" id="create-task" method="post">
            <input type="hidden" name="csrf"  value="{{ csrf() }}">
            <input type="hidden" name="user_id"  value="{{ user ? user.id : 0 }}">

            <div class="control-group form-group">
                <div class="controls">
                    <label for="text">Text:</label>
                    <textarea rows="10" cols="100" class="form-control" placeholder="Enter task text"  name="text" id="text" required data-validation-required-message="Please enter task text" maxlength="999" style="resize:none"
                       >{{ old.text ? old.text : '' }}</textarea>
                    <p class="help-block">{{ errors.text ? errors.text : '' }}</p>
                </div>
            </div>
            <div id="success">{{ errors.csrf ? errors.csrf : '' }}</div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">Create task</button>
        </form>    </div>
    <div class="col-md-4">
        <h3>Create a task</h3>
        <p>
            For me.
        </p>
        <p>
            {% if user %}
            I am {{ user.firstName }} {{ user.lastName }}
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}